* {
    margin: 0;
    padding: 0;
}

.botao {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

table {
    background-color: black;
    width: 100px;
    height: 200px;
    margin: auto;
}

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    background-color: black;
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-collapse: collapse;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 18px;
}

input[type="button"] {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

*/